<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
    <script defer src="../static/JS.js"></script>
</head>
<body>
    <div class="Game_container">
        <div class="NavTasks">
            <nav class="nav1">
                <ul class="nav-list">
                    <li class="list-item"><a href="../views/Instructions.html"><img src="../static/practiceLogo.png" alt="practice" class="navIcons"></a></li>
                    <li class="list-item"><a href="../views/Nearme1.html"><img src="../static/nearMeLogo.png" alt="nearMe" class="navIcons"></a></li>
                    <li class="list-item"><a href="../views/Learn_ChooseGender.html"><img src="../static/learnLogo.png" alt="learn" class="navIcons"></a></li>
                    <li class="list-item"><a ><img src="../static/profileLogo.png" alt="profile" class="navIcons" onclick="hoverProfile(this);" onmouseout="unhoverProfile(this);"></a></li>
                </ul>
            </nav>
        </div>
        <div class="NavLogo">
            <nav class="nav2">
                <ul class="nav-list">
                    <li class="list-item"><a href="../views/3Tasks.html"><img src="../static/navLogo.png" alt="Logo" class="navLogoIcon"></a></li>
                </ul>
            </nav>
        </div>
        <div class="TitleBar">
            <div class="backPracticeArrow">
                <a href="./EasyChooseGame.html"><img src="../static/backPracticeArrow.png" alt="backArrow"></a>
                
            </div>
            <div class="TitleLevels"><p>Diseases</p></div>
        </div>
        <div class="Body">
            <div class="hint"> 
                <button type="button" id="hintButton" hidden>Use a Hint</button>
            </div>
            <div id="myPuzzle"></div>
            <div></div>
            <script type="text/javascript" src="../static/crosswordPuzzle.js" defer></script>
            <script type="text/javascript" src="../static/activatePuzzle.js" defer></script>
        </div>
        
    </div>
    
</body>
</html>
