<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
    <script defer src="../static/JS.js"></script>
</head>
<body>
    <div class="Instructions_container">
        <div class="NavTasks">
            <nav class="nav1">
                <ul class="nav-list">
                    <li class="list-item"><a href="../views/Instructions.html"><img src="../static/practiceLogo.png" alt="practice" class="navIcons"></a></li>
                    <li class="list-item"><a href="../views/Nearme1.html"><img src="../static/nearMeLogo.png" alt="nearMe" class="navIcons"></a></li>
                    <li class="list-item"><a href="../views/Learn_ChooseGender.html"><img src="../static/learnLogo.png" alt="learn" class="navIcons"></a></li>
                    <li class="list-item"><a ><img src="../static/profileLogo.png" alt="profile" class="navIcons" onclick="hoverProfile(this);" onmouseout="unhoverProfile(this);"></a></li>
                </ul>
            </nav>
        </div>
        <div class="NavLogo">
            <nav class="nav2">
                <ul class="nav-list">
                    <li class="list-item"><a href="../views/3Tasks.html"><img src="../static/navLogo.png" alt="Logo" class="navLogoIcon"></a></li>
                </ul>
            </nav>
        </div>
        <div class="Body">
            <div class="Title">
                Practice
            </div>
            <div class="InstructionsSubTitle">
                It's time to practice what you have learned
            </div>
            <div class="InstructionsText">
                <p>The crossword puzzle will have questions and pictures from the topics on sexual and reproductive care. <br><br>
                    You are allowed to use hints. <br><br>
                    After some time from sending the crossword you will receive feedback.</p>
                <button type="button" class="playButton"  onclick="window.location.href = './levels.html'">PLAY</button>
            </div>
        </div>
        
    </div>
    
</body>
</html>
