<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnChooseGender</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
    <script defer src="../static/JS.js"></script>
</head>
<body>
    <div class="chooseGender_container">
        <div class="NavTasks">
            <nav class="nav1">
                <ul class="nav-list">
                    <li class="list-item"><a href="../views/Instructions.html"><img src="../static/practiceLogo.png" alt="practice" class="navIcons"></a></li>
                    <li class="list-item"><a href="../views/Nearme1.html"><img src="../static/nearMeLogo.png" alt="nearMe" class="navIcons"></a></li>
                    <li class="list-item"><a href="../views/Learn_ChooseGender.html"><img src="../static/learnLogo.png" alt="learn" class="navIcons"></a></li>
                    <li class="list-item"><a ><img src="../static/profileLogo.png" alt="profile" class="navIcons" onclick="hoverProfile(this);" onmouseout="unhoverProfile(this);"></a></li>
                </ul>
            </nav>
        </div>
        <div class="NavLogo">
            <nav class="nav2">
                <ul class="nav-list">
                    <li class="list-item"><a href="../views/3Tasks.html"><img src="../static/navLogo.png" alt="Logo" class="navLogoIcon"></a></li>
                </ul>
            </nav>
        </div>
        <div class="Body">
            <div class="Title">
                Learn
            </div>
            <div>
                <a href="../views/Learn_ChooseTopicFemale.html"><img src="../static/femaleSign.png" alt="female" class="genderIcons"></a><br>
                <a href="../views/Learn_ChooseTopicMale.html"><img src="../static/maleSign.png" alt="male" class="genderIcons"></a><br>
                <a href="../views/Learn_ChooseTopicNoGender.html"><img src="../static/noGenderSign.png" alt="noGender" class="genderIcons"></a><br>
                <a href="" class="FAQ">FAQs</a>
            </div>
        </div>
        
    </div>
    
</body>
</html>
