<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lectures</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
    <script defer src="../static/JS.js"></script>
</head>
<body>
    <div class="Lectures_container">
        <div class="NavTasks">
            <nav class="nav1">
                <ul class="nav-list">
                    <li class="list-item"><a href="../views/Instructions.html"><img src="../static/practiceLogo.png" alt="practice" class="navIcons"></a></li>
                    <li class="list-item"><a href="../views/Nearme1.html"><img src="../static/nearMeLogo.png" alt="nearMe" class="navIcons"></a></li>
                    <li class="list-item"><a href="../views/Learn_ChooseGender.html"><img src="../static/learnLogo.png" alt="learn" class="navIcons"></a></li>
                    <li class="list-item"><a ><img src="../static/profileLogo.png" alt="profile" class="navIcons" onclick="hoverProfile(this);" onmouseout="unhoverProfile(this);"></a></li>
                </ul>
            </nav>
        </div>
        <div class="NavLogo">
            <nav class="nav2">
                <ul class="nav-list">
                    <li class="list-item"><a href="../views/3Tasks.html"><img src="../static/navLogo.png" alt="Logo" class="navLogoIcon"></a></li>
                </ul>
            </nav>
        </div>
        <div class="Body">
            <div class="backArrow">
                <a href="./Learn_ReproductiveCategoryFemale.html"><img src="../static/goBackArrow.png" alt="goBack" class="goBackArrow"></a>
                
            </div>
            <div class="Learn_Title">
                Learn
            </div>
            <div class="SubTitle">
                Female > Reproductive health care > Hormonal cycle
            </div>
            <div class="Lectures">

                <div class="Lecture">
                    <div class="divLectureNumber">
                        <p class="lectureNumber">01</p>
                    </div>
                    <div class="divLectureTitle">
                        <p class="lectureTitle">What goes on during your monthly cycle?</p>
                    </div>
                    <div class="divLectureTime">
                        <p class="lectureTime">5:35 mins reading</p>
                    </div>
                    <div class="divLectureButton">
                        <button type="button" class="readLectureButton"  onclick="window.location.href = './Lecture1.html'">  <i class="arrowRight">  </i></button>
                    </div>
                </div>
                <div class="Lecture">
                    <div class="divLectureNumber">
                        <p class="lectureNumber">02</p>
                    </div>
                    <div class="divLectureTitle">
                        <p class="lectureTitle">Week 1: Estrogen rises</p>
                    </div>
                    <div class="divLectureTime">
                        <p class="lectureTime">15:37 mins reading</p>
                    </div>
                    <div class="divLectureButton">
                        <button type="text" class="readLectureButton" onclick="window.location.href = './Lecture2.html'">  <i class="arrowRight">  </i></button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</body>
</html>
