<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture1</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
    <script defer src="../static/JS.js"></script>
</head>
<body>
    <div class="Lecture_container">
        <div class="NavTasks">
            <nav class="nav1">
                <ul class="nav-list">
                    <li class="list-item"><a href="../views/Instructions.html"><img src="../static/practiceLogo.png" alt="practice" class="navIcons"></a></li>
                    <li class="list-item"><a href="../views/Nearme1.html"><img src="../static/nearMeLogo.png" alt="nearMe" class="navIcons"></a></li>
                    <li class="list-item"><a href="../views/Learn_ChooseGender.html"><img src="../static/learnLogo.png" alt="learn" class="navIcons"></a></li>
                    <li class="list-item"><a ><img src="../static/profileLogo.png" alt="profile" class="navIcons" onclick="hoverProfile(this);" onmouseout="unhoverProfile(this);"></a></li>
                </ul>
            </nav>
        </div>
        <div class="NavLogo">
            <nav class="nav2">
                <ul class="nav-list">
                    <li class="list-item"><a href="../views/3Tasks.html"><img src="../static/navLogo.png" alt="Logo" class="navLogoIcon"></a></li>
                </ul>
            </nav>
        </div>
        <div class="lectureTitles">
            <div class="lectureBack">
                
            </div>
            <div class="lectureNext">
                <a href="./Lecture2.html"><img src="../static/forwordLectureArrow.png" alt="goForword" class="goForwordLecture"></a>
            </div>
            <div class="LectureNumberTitle">
                Lecture 1
            </div>
            <div class="LecturePageTitle">
                What goes on during your monthly cycle?
            </div>
        </div>
        <div class="Body">
                <h4>How your hormones impact your moods, health and behavior</h4>
                <p> There’s a lot more to a menstrual cycle than just a period and possibly a few days of feeling grouchy right before your period. <br> 
                    A menstrual cycle is a roughly four-week span of time when three key hormones—estrogen, testosterone and progesterone—rise and fall in a specific pattern. <br>
                    Depending on how high or low these hormones go and the direction they’re headed, they impact you in a wide bvariety of ways, for instance your mood, energy, love life, spending habits, sleep quality, food cravings and health.</p>
                <h3>Why is this important information to know?</h3>
                <p>Since your hormones follow a predictable pattern every cycle, it means the effects they have on you are the same cycle after ncycle—and this allows you to know ahead of time what your moods, health and behavior will be. <br>
                    As a result, it can help you plan your day, week and month ahead and enable. You can also take advantage of hormonal benefits (such as high-energy days) and overcome hormonal challenges (such as countering fatigue on low-energy days), making every day of your cycle better.</p>
                <button type="submit" class="BackLecturs"  onclick="window.location.href = './Lectures.html'">Back to Lectures</button>
        </div>
        
    </div>
    
</body>
</html>
