<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnChooseCategory</title>
    <link rel="stylesheet" href="../static/StyleSheet.css">
    <script defer src="../static/JS.js"></script>
</head>
<body>
    <div class="Categories_container">
        <div class="NavTasks">
            <nav class="nav1">
                <ul class="nav-list">
                    <li class="list-item"><a href="../views/Instructions.html"><img src="../static/practiceLogo.png" alt="practice" class="navIcons"></a></li>
                    <li class="list-item"><a href="../views/Nearme1.html"><img src="../static/nearMeLogo.png" alt="nearMe" class="navIcons"></a></li>
                    <li class="list-item"><a href="../views/Learn_ChooseGender.html"><img src="../static/learnLogo.png" alt="learn" class="navIcons"></a></li>
                    <li class="list-item"><a ><img src="../static/profileLogo.png" alt="profile" class="navIcons" onclick="hoverProfile(this);" onmouseout="unhoverProfile(this);"></a></li>
                </ul>
            </nav>
        </div>
        <div class="NavLogo">
            <nav class="nav2">
                <ul class="nav-list">
                    <li class="list-item"><a href="../views/3Tasks.html"><img src="../static/navLogo.png" alt="Logo" class="navLogoIcon"></a></li>
                </ul>
            </nav>
        </div>
        <div class="Body">
            <div class="backArrow">
                <a href="../views/Learn_ChooseTopicMale.html"><img src="../static/goBackArrow.png" alt="goBack" class="goBackArrow"></a>
            </div>
            <div class="Learn_Title">
                Learn
            </div>
            <div class="SubTitle">
                Male > Sexual Health Care > Categories:
            </div>
            <div class="LearnButtons">
                <button type="button" class="Sign_button" onclick="window.location.href = ''">Diseases</button><br>
                <button type="button" class="Sign_button" onclick="window.location.href = ''">Prevention and Tretment</button>
            </div>
        </div>
        
    </div>
    
</body>
</html>
